# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Pact-related directories (root level - legacy)
/pact/
/pacts/

# Pact-related directories (service level)
/consumer/pact/
/consumer/pacts/
/consumer/log/
/consumer/logs/

/provider/pact/
/provider/pacts/
/provider/log/
/provider/logs/

# Vendoring directory
/vendor/
